Cannonball/old
Cannonball/raw_data
Cannonball/analysis/data
Cannonball/analysis/mord
Cannonball/analysis/experiment

Discus/old
Discus/raw_data
Discus/analysis/data
Discus/analysis/old
Discus/analysis/mord
Discus/analysis/experiment

*.pyc
*.pkl
*.pickle
*.pdf
*.png
*/.vscode